[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
python-dotenv = "*"
waitress = "*"

[dev-packages]
coverage = "*"
wheel = "*"

[requires]
python_version = "3.8"

[scripts]
flaskrun = "flask run"
